/*
4

tag.class matches all elements with name tag and with the class class, 
e.g.:

div.foo { color: red; } matches <div class="foo">

tag .class matches all .class elements that are descendants
 of tag elements (note the space between tag and .class):
*/

.drawerColor{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.innerAboutMe{
  padding: 10px;
}

.about1stDiv{
width: 100%;
height: 100%;
background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

.about2ndDiv{
  padding:10px;
  width: 70%;
  margin: 0 auto;
}

.landingBG{
  background: #3155ac; 
  width: 100%;
  height: 100%;
}

.landing-grid {
  
    /* background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44);  */ 
    
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
  font-family: "Oxygen";
  padding-top: "2%";
}

/*contact page css*/
.contact-body {
  font-family: "Oxygen";
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
    
  border-radius: 25px;
  box-sizing: content-box;  
  border: 2px solid #000000;
  text-align: center;
  justify-content: center;
  width: 65%;
  height: 490px;
  background: white;
  color: black;
  margin-bottom: 10px;
}


.textSize{
font-size: 35px;
}
.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}
/* portfolio project picture container */
.portfolio-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  margin: 0;
  bottom: 0px;
  left: 0px;
}
.contact-grid hr {
  border-top: 5px dotted black;
 
}

.contact-list i {
  font-size: 50px;
  padding-right: 2rem;
}

/*landing page css*/

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  /* background-color: black; */
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}


.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/* Resume CSS*/

.resume-right-col {
  background: #617dbd;
  color: white;
  padding: 2em;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #0c0000;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}